.google-font{
    font-family: 'Mukta', sans-serif;
    font-size: 17px;
}
.casular{
    height:95vh;
}
.button-are{
    background-color: #FDF4FA;
    border-radius: 30px; 
}
.login-area{
    background-image: url(/images/banner.png);
    background-attachment: fixed;
}
.top-problem{
    position: absolute;
    top: -13px;
    right: 15px;
} 
.cradare{
    margin-top: -70px;
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgb(1, 101, 250);
   position: relative;
}
.border-are{
    border-left: 6px solid blue;
}
.offer-area{
    position: fixed;
    right:0px;
    top: 350px;
}
